body{
    background-color: white;
}
.header-ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.a-header{
    color: #7D7D7D;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}
.theme-secondtext{
    color: #7D7D7D;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}
.theme-maintext{
    color: #626262;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 30px;
}
.theme-text{
    width: 420px;
    height: 76px;
    color: #7D7D7D;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}
.btn{
    border: 0.8px solid #626262;
    width: 165px;
    height: 60px;
    font-family: "Playfair Display", serif;
    background-color: white;
}